{# Подключаем основной темплит http://twig.sensiolabs.org/doc/templates.html#template-inheritance #}
{% extends "template/basic.twig" %}

{# В блок title добавляем значение #}
{% block title %}Users{% endblock %}
{# В блок breadcrumbs добавляем значение #}
{% block breadcrumb %}
    <li class="active">Users</li>
{% endblock %}

{# В блок content добавляем значение #}
{% block content %}
    {#<h1>User #{{ id }}</h1>#}
    <hr/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Password</th>
            <th>Salt</th>
            <th>Registration Date</th>
        </tr>
        </thead>
        <tbody>
        {% for item in result %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.login|e }}</td>
            <td>{{ item.password }}</td>
            <td>{{ item.salt }}</td>
            <td>{{ item.dt_created }}</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}